body {
  background-color: azure;
}

div {
  display: inline-block;
}

button {
/* Reduce margin size but I still want adequate space */
  margin: 10px;
}

.galar {
  background-color: black;
  min-height: 10em;
  width: 100%;
  text-align: center;
}

h1 {
  font-size: 18px;
  text-align:center;
  border: solid gold 1px;
  background-color: azure;

}

.modal {
  width:200px;
  height:200px;
  position: fixed;
  background-color: lightgray;
  border-radius: 8px;
  border: solid black 1px;
  border-color: black;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
  display:  none;
}

span {
  font-size: 22px;
}

.poketype {
  display: block;
  margin: 10px;
  border: solid black 1px;
  background-color: lightblue;
  padding-right: 14px;
  padding-bottom: 2px;
}
